/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #97c0ff;
    padding: 40px;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6c1717;
}

/* Lista */
ul {
    list-style: none;
}

/* Item cliente */
li {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #e9f2ff;
    border-radius: 6px;
    transition: 0.2s;
}

/* Hover */
li:hover {
    background-color: #d0e4ff;
    transform: translateX(5px);
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
    font-size: 14px;
}
